fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
pydantic-settings
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openai
anyio
asyncio-throttle
python-json-logger
python-multipart
pytest
pytest-asyncio
httpx
pytest-mock
